@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*{
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
}

//NavBar styling

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .profile-picture {
    border-radius: 50%;
    margin-top: 3%;
    width: 5%;
  }
}

//end NavBar styling

//SignedOutDashboard styling


.card{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.homepage-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  .buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 9%;
  }
}
//End SignedOutDashboard styling

//Signed In Dashboard

.signedin-header {
  text-align: center;
}

.goal-summary{
  display: flex;
  width: 100%;
}
//End SignedIn dashboard

//Body styling

body{
  font-family: 'PT Sans', sans-serif;
}

.bodyMain{

  display: flex;
  align-content: space-around;
  width: 100vw;
  height: 100%;
  margin: 100px auto 0 auto;
  text-align: center;
}

//SideBar styling

.sideBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  width: 30%;
  border: solid lightgray 1px;
  border-radius: 5px;
  margin-top: 2%;
  padding: 1%;
  .profile-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.userStats{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.aboutUser{
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-between;
  margin-bottom: 8%;
}

//end SideBar styling

//Feed styling

.feed{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 5% auto 0 auto;

}

.newPost{
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 5%;
  margin: 5%;
  margin-bottom: 50px;
}


.liveFeed{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

//Post styling

.container{
  width: 100%;
  .post-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
    .card-action{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.post-detail-foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//End Post Styling

//End Feed Styling

//Footer styling

.footer{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  min-height: 100px;
  background-color: #93E853;
  border-top: 2px solid lightgray;
  margin-top: 5%;
}

.lists{
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footerLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footerMiddle{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.footerRight{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
}
//Footer Styling
//end Body styling



//Profile Page styles

.active-goals-header{
  text-align: center;
  margin-top: 5%;
}
//End Profile Page styles


//Goal Tracker styles

.progress-grid{
 margin: 2rem;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 justify-content: space-around;
 width: 40%;
 flex-wrap: wrap;
}

.cell{
  margin-bottom: 0.5rem;
  height: 50px;
  width: 50px;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  border: 1px solid gray;
}


//End Goal tracker styles
