*{
  margin: 0;
  padding: 0;
}

//NavBar styling
.nav{
  display: flex;
  justify-content: space-around;
  border: solid red 1px;
  margin-top: 15px;
}

.navLeft{
  width: 75%;
  display: flex;
  justify-content: flex-start;
}

.navRight{
  display: flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;
    .NavProfilePicture{
      width: 100px;
    }
}

//end NavBar styling

//Body styling

.bodyMain{
  width: 100vw;
  height: 100vh;
  border: solid green 1px;
  margin: 100px auto 0 auto;
  text-align: center;
}

//end Body styling

//SideBar styling

.sideBar{
  height: 200px;
  width: 200px;
  border: solid pink 1px;
}

#profilePicture{
  height: 70%;
  width: 70%;
  border-radius: 50%;
}


//end SideBar styling
